body{
	background:lightgreen;
	margin:0px;
}
.smallbox{
	background:white;
	margin:1%;
	width:23%;
	height:200px;
	border-radius:10px;
	box-shadow:0px 0px 20px white;
	float:left;
}

#nav{
	background:white;
	padding:25px;
	margin:0px;
	
}
#nav li{
	display:inline;
	margin:20px;
	color:blue;
	font-weight:bold;
	transition:2s;
}
#nav li:hover{
	color:red;
	cursor:pointer;
}
/* media query start here - to identify the width of the screen */

@media screen and (min-width:1px) and (max-width:600px){
   body{background: green;}
   .smallbox{
	   width:48% !important;
		   
	   }
   }

/* for medium screen size */
@media screen and (min-width:601px) and (max-width:800px){
	body{background: pink;}
	.smallbox{
		width:31.33% !important;
	}
	#nav li{
		margin:10px !important;
	}
}
/* For navigation menu */
@media screen and (min-width:1px) and (max-width:700px){
	#nav li{
		display:block !important;
		margin:15px !important;
	    border-bottom:1px dotted orange;
	}
	#nav li:before{
		content:">";
		color:red;
		font-weight:bold;
	}
}